{% extends "layout.html" %} {% block content %}
<h2>Add Quote</h2>
<form action="{{ url_for('quote') }}" method="post">
  <p class="heading">
    Quote: <textarea rows="5" cols="50" name="quote"></textarea>
  </p>
  <p class="heading">Author: <input type="text" name="author" /></p>
  <p class="heading">Date: <input type="date" name="date" /></p>
  <p class="heading">Type: <input type="text" name="type" /></p>
  <p class="heading">Source: <input type="text" name="source" /></p>
  <p class="heading">
    rating: <input type="number" step="0.1" name="rating" />
  </p>
  <p><input type="submit" value="Submit Quote" /></p>
</form>
{% endblock %}
