body { 
    font-family: "Helvetica", sans-serif; 
    font-size: 20px; 
    text-align: center;
    color: black; 
}
a, h1, h2, h3 { 
    color: #00008F; 
}
form { 
    margin:.1em auto; 
    padding:.1em; 
    width: 400px; 
    border: 1px 
}
.heading { 
    font-weight: bold; 
}
.page { 
    margin:.1em auto; 
    padding:.1em; 
    width: 504px;  
}
.entry { 
    margin-bottom: 2em; 
    padding-bottom: 2em; 
    border-bottom: 1px solid #888; 
}
.image { 
    max-width: 50%; 
    height: auto;
}