{% extends "layout.html" %} {% block content %}

<h2>Pic Poet</h2>

{% with messages = get_flashed_messages() %} {% if messages %}
<p>System Messages</p>
<ul class="flashes">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}

<p>Upload an image to inspire a poem</p>

<form
  action="{{ url_for('search') }}"
  enctype="multipart/form-data"
  method="post"
>
  <input type="file" name="file" />
  <input type="submit" value="Submit Image" />
</form>

<!-- Hidden loading div -->
<div id="loading" style="display: none">
  <img src="../static/loading.gif" alt="Loading..." />
</div>

<!-- JS for handling loading div -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $('form').on('submit', function () {
      $('#loading').show();
    });
  });
</script>
{% endblock %}
