{% extends "layout.html" %} {% block content %}

<h2>Generated Pic Poem</h2>
{% if image_path %}
<img src="{{ image_path }}" alt="" class="image" />
{% endif %} {% if poem %}
<h3>{{ title }}</h3>
<p>{{ poem.replace('\n', '<br />')|safe }}</p>
{% endif %}
<div>
  <a
    href="{{ url_for('poem', image_path=image_path, labels=labels, objects=objects) }}"
    >Regenerate Poem</a
  >
</div>
<div>
  <a href="{{ url_for('index') }}">Generate Another Pic Poem</a>
</div>
<!-- TODO: add an option to download the poem -->
{% endblock %}
